html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
  size: 100px;
}
a:hover {
  color: tomato;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: lalezar;
  src: url(../fonts/Lalezar-Regular.ttf) format("truetype");
}
@font-face {
  font-family: byekan;
  src: url(../fonts/Yekan.ttf) format("truetype");
}
body {
  font-family: byekan;
}
.header {
  height: 550px;
  background-image: url(../image/back1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 35px;
  color: white;
  margin-top: 10px;
  text-align: center;
}
.nav-list {
  list-style-type: none;
}
.nav-list .nav-item {
  display: inline-table;
  padding: 15px;
}
.nav-list .nav-item:hover {
  color: orange;
}
.header h1 {
  font-size: 60px;
  font-family: lalezar;
  margin-top: 80px;
}
.bamn {
  color: orange;
}
.k12 {
  width: 400px;
  height: 55px;
  margin: auto;
  line-height: 55px;
  background-color: rgba(3, 3, 97, 0.5);
  border-radius: 20px;
  border: 1px solid white;
  margin-top: 12px;
}
.member {
  text-align: center;
  margin-top: 10px;
}
.member-list {
  list-style-type: none;
}
.member-item {
  width: 300px;
  box-shadow: 0 0 10px #bbbbbb;
  display: inline-block;
  margin-top: 22px;
  margin: 10px;
  height: 300px;
  margin-bottom: 50px;
  background-color: darkgray;
  border-radius: 5px;
}
.icGit {
  margin-top: 70px;
}
.member-pic {
  width: 75%;
  background-position: center;
  background-clip: content-box;
}
.member-name {
  font-size: 25px;
}
.member-bio {
  padding: 10px;
  text-align: justify;
}
.about {
  height: 500px;
  background-image: url("../image/pic.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 25px;
  background-color: dimgray;
  background-blend-mode: multiply;
  text-align: center;
}
.circle {
  width: 450px;
  height: 450px;
  background-color: rgba(6, 2, 43, 0.5);
  border-radius: 40%;
  margin: auto;
  text-align: center;
  padding: 100px 120px;
  color: white;
  display: inline-block;
  margin-left: 40px;
}
.circle-h {
  font-size: 25px;
}
.circle-bio {
  margin-top: 40px;
  text-align: justify;
}
h2 {
  margin-top: 40px;
  margin-bottom: 15px;
}
